# custom
utils/
migrations/
*.dot
test.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**/DBconfig_private.py
# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.log
*.txt
*.log/
*.txt/
*.csv
*.cfg
*.ini
*.log
*.tmp
*.temp
*.swp

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Flask specific
instance/
.webassets-cache

# Pytest
.pytest_cache/
.coverage

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache
.scrapy
docs/_build/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
env/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/

# VS Code
.vscode/

# MacOS specific
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
.DS_Store

# test
**/test.py

# sql
**/*.sql